<!-- services section start -->
<div class="services_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <% const {services_taital,services_text} = services1 %>
        <h1 class="services_taital"><%= services_taital %></h1>
        <p class="services_text"><%= services_text %></p>
      </div>
    </div>
    <div class="services_section_2">
      <div class="row">
        <% services2.forEach(service => {%>

        <div class="col-lg-4 col-sm-12 col-md-4">
          <div class="box_main">
            <div class="house_icon">
              <img src="images/<%= service.image1 %>" class="image_1" />
              <img src="images/<%= service.image2 %>" class="image_2" />
            </div>
            <h3 class="decorate_text"><%= service.decorate_text %></h3>
            <p class="tation_text"><%= service.tation_text %></p>
            <div class="readmore_bt"><a href="#">Read More</a></div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>
<!-- services section end -->
